*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   /* border: 1px solid blue; */


    }


body {
    background-image: url('assets/flower-bg-with-needles.png');
    cursor: url("custom-cursor/curor"), pointer;
    background-repeat: no-repeat;
    background-size:cover;
    cursor: url(assets/custom-cursor/'cursor-closed.png'), pointer;
  

}

/* a container for the whole card */
.back-side {
  display:grid;
  width:60%;
  margin: 300px auto;
  grid-template-columns: 1fr; 
  grid-template-rows: 2fr 1fr 2fr; 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 

  }

  /* The card container has four children, each holding content */
  .tag-container{
    grid-area: 1 / 1 / 4 / 2;
  }
  .logo-container { grid-area: 1 / 1 / 2 / 2; } 
  .text-container{ grid-area: 2 / 1 / 3 / 2; } 
  /* the icon container has a smaller grid within it */

  .icon-container{
      grid-area: 3 / 1 / 4 / 2; 
      width:40%;
      margin: 0 auto;
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas: 
      "a b c";
      grid-gap: 20px;
}

/* .circle{
  background-image: url("/assets/circle.svg");
  grid-area: a;
} */


h3{
  margin-bottom: 0px;
  font-family:'Josefin Sans', sans-serif;
  font-size: 235px;



  
  }
  
  h5{
  margin-top: 0px;
  padding-top: 0px;
  font-family:'Josefin Sans', sans-serif;
  font-size: 60PX;
  color: FFFFFF;
  text-align: center;
  
  
  
  }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }

  
  
  /* Coloring of graphics */
  #tag-container{
  fill:rgb(23, 32, 49);
  }
  /* svg styling */
  /* .st0{display:none;} */
  /* .st1{display:inline;} */
  
  /* tag styling */
  svg{
  fill:rgb(23, 32, 49);
  }
  
  /* icon styling  */
  .svg-interaction{
  fill:rgb(173, 210, 116);
  opacity: 0.5;
  animation:pulse; 
  animation-duration: 2s;
  }

  .svg-interaction:hover{
    fill:rgb(173, 210, 116);
    opacity: 0.5;
    animation:pulse; 
    animation-duration: 2s;
    }


/* ig iconstyling  */
.instagram {
  width:60%;
}
      .cls-1 {
        stroke-width: 3px;
      }

      .cls-1, .cls-2 {
        fill: none;
        stroke: #aac1b0;
        stroke-miterlimit: 10;
      }

      .cls-2 {
        stroke-width: 5px;
      }

 
      .cls-1 {
        fill: #aac1b0;
      }

      .cls-2 {
        fill: none;
        stroke: #aac1b0;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }


  /* email icon styling */
 .email
    .cls-1 {
      fill: #aac1b0;
    }

    .cls-2 {
      fill: none;
      stroke: #aac1b0;
      stroke-miterlimit: 10;
      stroke-width: 4px;
    }

   /* linkedin-iconstylting */
   .linked-in
      .cls-1 {
        fill: #aac1b0;
      }

      .cls-2 {
        fill: none;
        stroke: #aac1b0;
        stroke-miterlimit: 10;
        stroke-width: 4px;
      }
